.restRadioLabel {
  min-width: 0;
}

.restLabel {
  margin-top: 0;
  margin-bottom: 0;
}

.ComentTextArea {
  width: auto;
}

.restRadiobtn {
  border: none;
  border-radius: 20px;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
  display: flex;
  align-items: center;
}

.restRadiobtn-check:checked+.restRadiobtn {
  color: var(--assist-white);
  background-color: var(--main-dark);
  border-color: var(--bs-btn-active-border-color);
}

/* 定義變數 */
:root {
  --unchecked-star: '\2606';
  --unchecked-color: #ffffff;
  --checked-star: '\2605';
  --checked-color: #674c87;
}

/* 全局樣式 */

.starBlock {
  border: 0;
  /* width: 5em; */
  /* border-radius: 1px;
  padding: 1em 1.5em 0.9em;
  margin: 1em auto; */
}

/* #log {
  margin: 1em auto;
  width: 5em;
  text-align: center;
  background: transparent;
} */

/* 星星評分部分 */
.star-cb-group {
  font-size: 0;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.star-cb-group>input {
  display: none;
}

.star-cb-group>input+label {
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  margin: 0px 10px;
  font-size: 35px;
}

.star-cb-group>input+label:before {
  display: inline-block;
  text-indent: -9999px;
  content: var(--unchecked-star);
  /* color: var(--unchecked-color); */
}

.star-cb-group>input:checked~label:before,
.star-cb-group>input+label:hover~label:before,
.star-cb-group>input+label:hover:before {
  content: var(--checked-star);
  color: var(--checked-color);
  text-shadow: 0 0 1px #333;
}

.star-cb-group>.star-cb-clear+label {
  text-indent: -9999px;
  width: 0.5em;
  margin-left: -0.5em;
}

.star-cb-group>.star-cb-clear+label:before {
  width: 0.5em;
}

.star-cb-group:hover>input+label:before {
  content: var(--unchecked-star);
  /* color: var(--unchecked-color); */
  text-shadow: none;
}

.star-cb-group:hover>input+label:hover~label:before,
.star-cb-group:hover>input+label:hover:before {
  content: var(--checked-star);
  color: var(--checked-color);
  text-shadow: 0 0 1px #333;
}


.rateStarFill {
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: default;
  margin-right: 12px;
  font-size: 25px;
}

.rateStarFill:before {
  display: inline-block;
  text-indent: -9999px;
  /* content: var(--unchecked-star); */
  content: var(--checked-star);
  /* color: var(--unchecked-color); */
  color: var(--checked-color);
}

.rateStarBlank {
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: default;
  margin-right: 12px;
  font-size: 25px;
}

.rateStarBlank:before {
  display: inline-block;
  text-indent: -9999px;
  content: var(--unchecked-star);
  /* content: var(--checked-star); */
  /* color: var(--unchecked-color); */
  /* color: var(--checked-color); */
}

.restTittle {
  margin: 0;
}

.modalClose:focus {
  box-shadow: none;
}

/* navbar 好友通知 */
.btndefault {
  border: 0;
  background-color: #B497D4;
}

.bell {
  color: white;

}
.bellHint{
  background-color: white;
  color: #674c87;
}

/* 垂直滾動條 1*/
.scrollbar-A::-webkit-scrollbar {
  width: 16px; /* 設定滾動條的寬度 */
}

/* 滾動條的軌道 */
.scrollbar-A::-webkit-scrollbar-track {
  background-color: white; /* 設定滾動條的背景顏色 */
  border-radius: 0px 20px 20px 0px; 
  /* box-shadow: -3px 5px 9px -5px #a5a5a5 inset; */

}

/* 滾動條的滑塊 */
.scrollbar-A::-webkit-scrollbar-thumb {
  background-color: #FABCBF; /* 設定滾動條的滑塊顏色 */
  border-radius: 0px 7px 7px 0px; 
  /* box-shadow: -3px 5px 9px -5px #e8ced0 inset; */

  /* 設定滑塊的圓角 */
}

/* 滑鼠移到滑塊上的效果 */
.scrollbar-A::-webkit-scrollbar-thumb:hover {
  background-color: #FABCBF; /* 設定滑鼠移到滑塊上時的顏色 */
}

/* 垂直滾動條2*/
.scrollbar-B::-webkit-scrollbar {
  width: 16px; /* 設定滾動條的寬度 */
}

/* 滾動條的軌道 */
.scrollbar-B::-webkit-scrollbar-track {
  background-color: white; /* 設定滾動條的背景顏色 */
}

/* 滾動條的滑塊 */
.scrollbar-B::-webkit-scrollbar-thumb {
  background-color: #674C87; /* 設定滾動條的滑塊顏色 */
  /* border-radius: 5px; 設定滑塊的圓角 */
}

/* 滑鼠移到滑塊上的效果 */
.scrollbar-B::-webkit-scrollbar-thumb:hover {
  background-color: #674C87; /* 設定滑鼠移到滑塊上時的顏色 */
}