@import _boostrap
@import _mixin
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

/* General Start ====================*/

:root
  --main: #D0A5CA
  --main-dark: #674C87
  --main-light: #B497D4
  --bg-main: #FBDCDD
  --bg-dark: #FABCBF
  --bg-light: #FCE5E7
  --assist-gray: #717171
  --assist-white: #FFFFFF
  --assist-lightgrey: #D8D8D8

h1,h2,h3,h4,h5,h6,p,a,span,ul,div
  font-family: 'Noto Sans TC','Noto Sans', sans-serif
h1
  font-size: 2rem
h2
  font-size: 1.75rem
h3
  font-size: 1.5rem
  margin-bottom: 0.5rem
h4
  font-size: 1.25rem
h5
  font-size: 1.125rem
h6
  font-size: 1rem
p,a,span,button,li,ol
  font-size: 1rem
// navbar 文字
.nav-font
  font-size: 1.25rem
.nav-link
  font-size: 1.25rem
// 輔助小字
.small-font
  font-size: 0.75rem



html
  margin: 0
  padding: 0
  font-size:16px

body
  background-color: var(--bg-main)

input, .form-control
      padding-left: 1.5rem
      border: none
      &::placeholder
        color: var(--assist-gray)
      &:focus
        color: green
        border: none
        box-shadow: none
        color: var(--main-dark)

/* General End ====================*/

/* mixin Start ====================*/
@include radius(20) //.radius20px

/* mixin End ====================*/

/* navbar.js Start ====================*/
header
  background-color: var(--main-light)
  width: 100%
  z-index: 99
  .logo
    width: 200px
    padding: 5px 0
    background-color: var(--assist-white)
    img
      width: 150px
      height: auto
  #Search-Bar
    input
      border-radius: 20px 0 0 20px
    button
      border-radius: 0 20px 20px 0
      border: none
      background-color: var(--bg-dark)
      width: 4rem
      height: 100%
      svg
        height: 1.4rem
        width: auto
        color: var(--assist-white)
  #Log-Out-Btn
    background-color: var(--main-light)
    color: var(--assist-white)
    border: none

  /* navbar.js End ====================*/

main
  padding: 6rem 0
  .main-background
    background-color: var(--bg-light)
    border-radius: 20px
  >.row
    >div
      margin: 5rem 0


  /* sidebar.js Start ====================*/
#Sidebar
  >div
    &:first-child
      border-radius: 20px 20px 0 0
    &:last-child
      border-radius: 0 0 20px 20px
    &:not(:first-child)
      margin-top: 1.75rem
  .card
    background-color: var(--assist-white)
    border: none
    .card-body
      padding: 1rem 1.5rem

  #User-Img
    width: 40%
    img
      width: 100%
      hieght: auto
  #User-Info
    width: 60%
    >div
      width: 100%
      p
        margin: 0
    #User-Name
      color: var(--main)
    #User-Account
      color: var(--assist-gray)
    #User-Status
      color: var(--main)
      margin-top: 1rem
      display: flex
      >p
        display: flex
        align-items: center
        margin-right: 0.75rem
        svg
          margin-right: 0.2rem
  nav
    .nav-link
      color: var(--main)
    .container-fluid
      padding: 0


      /* sidebar.js End ====================*/