.infoBox {
  margin: 0;
  padding: 0;
  width: 100%;
}

.infolabel {
  margin: 0;
  padding: 0;
}

.radioItem {
  background-color: #b497d4;
  color: white;
  width: 80px;
  height: 35px;
  justify-content: center;
  /* align-items: center; */
  border-radius: 50rem;
}

.radioItem:hover {
  background-color: #d0a5ca;
  color: white;
}

.radio:checked+.radioItem {
  background-color: black;
  color: white;
}

.radioBox {
  flex-wrap: wrap;
}

.leftBox {
  margin-right: 50px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 99em;
  box-shadow: 0px 2px 5px -1px #a5a5a5;
}

.commentText {
  margin-bottom: 1rem;
  padding-left: 4.2rem
}

.commentTitle {
  color: #674C87;
}

.commentBox {
  width: 100%;
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
}

.plus {
  font-size: 1.2rem;
  color: #674c87;
}

.ivBtn {
  background-color: none;
  margin: 0;
  padding: 0;
  color: #874c6d;

}

.verifyHint {
  color: #874c6d;
  font-style: italic;
}

.line {
  /* border-bottom: 10px solid red ; */
  box-shadow: 0px 2px 5px -1px #a5a5a5;

}

.lineBox {
  background-color: #b497d4;
  color: white;
  border-radius: 20xp 20px 20px 20px;
}

.commentLine {
  border-bottom: 3px solid #674c87;
}