.restItem {
  /* background-color: black; */
  color: #674c87;
}
.restItem:hover {
  background-color: #674c87;
  color: white;
}

.restItem:active {
  background-color: #674c87;
  color: white;
}

.title {
  /* background-color: black; */
  color: #674c87;
}
