.main{
    background-color: var(--main-light);
    height: 500px;
    width: 800px;
    padding: 50px;
    border-radius: 30px;
} 
.style{
    width: 500px;
    background: rgb(253, 253, 253);
    border-radius: 20px;  
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cardabove{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    color: var(--main-dark);
    font-weight: bold;
}
.inputgroup{
    background-color: var(--main-dark);
    opacity: 56%;
    height: 150px;
    width: 400px;
    /* border: 1px solid red; */
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.title{
    text-align: center;
}
.buttongroup{
    display: flex;
    justify-content: end;
}