.white{
    background-color: white;
    display: flex;
    height: 800px;
    width: 925px;
    border-radius: 20px;
}
.leftplace {
    display: flex;
    align-items: center;
    padding: 10px;
}
.rightplace {
    width: 400px;
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo{
    height: auto;
    width: 400px;
}
.input{
    width: 300px;
    height: 150px;
    background-color: var(--main-dark);
    color: white;
    padding: 10px;
    border-radius: 10px;
}