.main {
  width: 1325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  border-radius: 20px;
  background-color: var(--main);
  padding: 12px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
}
.imgborder {
  position: relative;
  margin-top: 50px;
  width: 250px;
  height: 200px;
  /* border: 1px red solid; */
  display: flex;
}

.imgContainer {
  width: 150px;
  height: 200px;
  position: absolute;
  right: 0;
}
.imgabove {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 150px;
  height: 200px;
  /* background-color: rgba(238, 228, 228, 0.332); */
  background-color: white;
  border-radius: 20px;
  opacity: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imglogo {
  width: 110px;
  height: 40px;
}
.img {
  /* margin-left: 100px; */
  /* border: 1px solid red; */
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button {
  font-size: 30px;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 10px;
  color: var(--main-light);
  font-weight: bold;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
}
.white {
  color: white;
}
.fontcolor {
  color: var(--main-dark);
}
.link {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
