.formbody {
  position: relative;
}

.label {
  margin-left: 17rem;
  margin-top: 1rem;
  padding-bottom: 1.2rem;

}

.uploader {
  align-items: center;
  background-color: #efefef;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  height: 260px;
  -webkit-justify-content: center;
  justify-content: center;
  outline: 3px dashed #B497D4;
  outline-offset: 5px;
  position: relative;
  max-width: 400px;
  width:100%
}

.uploaderinput {
  display: none;
}

.uploaderIcon{
    color: #674C87;
    font-size: 5em;
  
}
.uploaderImg{
max-width:400px;
 width: 500px;
 height: 260px;
}
.link{
  color: #674C87;
  font-size:1.5rem;
}
.h3{
  color: #674C87;
  margin: auto;
}