.label {
  margin: auto;
}
.formbody {
  position: relative;
}

.uploaderinput {
  display: none;
}

.uploader {
  align-items: center;
  background-color: #efefef;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  height: 300px;
  -webkit-justify-content: center;
  justify-content: center;
  outline: 3px dashed #ccc;
  outline-offset: 5px;
  position: relative;
  width: 300px;
}
.uploaderIcon{
    color: #eee;
    color: rgba(0, 0, 0, 0.2);
    font-size: 5em;
  
}
.uploaderImg{
    left: 50%;
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
}