.formbody {
  position: relative;
}

.label {
  margin-left: 2rem;
}

.uploader {
  align-items: center;
  background-color: #efefef;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  height: 180px;
  -webkit-justify-content: center;
  justify-content: center;
  outline: 3px dashed #B497D4;
  outline-offset: 5px;
  position: relative;
  width: 300px;
}

.uploaderinput {
  display: none;
}

.uploaderIcon{
    color: #674C87;
    font-size: 5em;
  
}
.uploaderImg{
  left: 50%;
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
}
.link{
  color: #674C87;
  font-size:1.5rem;
}
.h3{
  color: #674C87;
  margin: auto;
}