.dialogue {
  width: 100%;
  height: 400px;
  background-color: white;
  /* background-image: linear-gradient(to left, #fbdcdd, #fbd4d5, #fbccce, #fbc4c6, #fabcbf);
   */
  /* background-image: linear-gradient(to left, #fbdcdd, #fbe5eb, #faeef5, #faf7fc, #ffffff); */
  /* box-shadow: 0px 2px 10px -3px #a5a5a5 inset; */
  border-radius: 20px 20px 20px 20px;
  overflow: scroll;
  overflow-x: hidden;
  /* overflow-y: hidden; */

}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 99em;
  box-shadow: 0px 2px 5px -1px #a5a5a5;
}

.text {
  background-color: #FBDCDD;
}
.name{
  color:#674c87 ;
}

.date{
  background-color: #a5a5a5;
  color: white;
}
.time{
  color:#a5a5a5 ;
}