.cardbody{
    width: 700px;
    height: 700xpx;
    background-color: #fefefe;
    border-radius: 30px;
    padding: 10px 10px 10px 30px;
    color: rgb(43, 3, 3);
}
.input{
    border: 1px solid rgb(216, 205, 205);
}
.inputstyle{
    display: flex; 
}
.inputlabel{
    width: 150px;
}
